.page-wrapper {
    .pagination {
        display: flex;
        align-items: center;
        @extend %m1024_mini_regular_12_16;
    
        &-back {
            margin-right: 15px;
    
            svg {
                margin-right: 5px;
            }
        }
    
        &-next {
            margin-left: 15px;
    
            svg {
                margin-left: 5px;
            }
        }
    
        &-back,
        &-next {
            display: flex;
            align-items: center;
            transition: none;
    
            svg path {
                stroke: $black;
            }
    
            &:hover {
                svg path {
                    stroke: $red;
                }
            }
        }
    
        &-list {
            display: flex;
        }
    
        &-item {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border: 1px solid transparent;
            margin: 0 5px;
    
            &:hover {
                border-color: $dark_grey;
                color: $black;
            }
    
            &:first-child {
                margin-left: 0;
            }
    
            &:last-child {
                margin-right: 0;
            }
        }
    
        &-item.active {
            border: 1px solid $btn_active_red_light;
            color: $btn_active_red_light;
        }
    
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &-watched {
            @extend %m1024_mini_regular_12_16;
            color: $black;
            opacity: 0.5;
        }
    
    
    }
}

@media screen and (min-width: 1500px) {
    .page-wrapper {
        .pagination {
            &-item {
                @include text(14px, 400, 20px, 0.02em, initial);
                width: 40px;
                height: 40px;
            }
    
            &-back,
            &-next {
                @include text(14px, 400, 20px, 0.02em, initial);
            }
    
            &-watched {
                @include text(14px, 400, 20px, 0.02em, initial);
            }
        }
    }
}