.page-wrapper.search-page {
    .content-items {
        .path {
            display: none;
        }
    }

    .table-2 {
        margin-left: 0;
        width: 80%;
    }

    .btn-more {
        width: 100%;
        margin: 16px 0;
    }

}