.page-wrapper {
    .table-wrap {
        display: flex;
    }

    .catalog-main {
        background: $bg_white;
        width: 100%;
        box-shadow: $plate_shadow;
        border-radius: 8px;
        position: relative;
        z-index: 2;
        padding: 24px 40px;
        padding-bottom: 32px;

        .catalog-list {
            display: block;
            column-width: 245px;
            column-gap: 6%;
            column-count: 3;
        }

        .catalog-item {
            margin-left: -8px;
            max-width: 245px;

            a {
                @extend %m1024_mini_regular_12_16;
                color: $black;
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 8px;
                padding-right: 0;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    @keyframes loading {
      0% {
        opacity: 1;
      }

      50% {
        opacity: .6;
      }

      80% {
        opacity: 1;
      }

      100% {
        opacity: 1;
      }
    }

    .loading {
        &-item {
            height: 48px;
            width: 100%;
            background-color: rgba(179, 194, 204, 0.15);
            border-radius: 4px;
            margin-top: 8px;
            animation: loading 1s infinite ease;
        }
    }
}

@media screen and (min-width: 1500px) {
    .page-wrapper {
        .catalog-main {
            padding: 32px 40px;

            .catalog-item {
                max-width: 310px;
                margin-bottom: 4px;
                margin-right: -10px;

                a {
                    @include text(16px, 400, 20px, normal, initial);
                    padding: 10px;
                    padding-right: 0;
                }
            }

            .catalog-list {
                column-width: 310px;
                column-gap: 0%;
                column-count: 4;
            }
        }
    }
}